@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 2px solid black;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: #fff;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid black;
  background: #fff;
  text-align: center;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	overflow-x: hidden;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(pic5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;

}

.row{
	max-width: 1180px;
	margin: 0 auto;
}

.logo{
	height: 120px;
	width:auto;
	float: left;
	margin-top: 20px 
}

.main-nav{
	float: right;
	margin-top: 60px;
}

.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}

.main-nav li a{
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
}

.main-nav li a:hover{
	border-bottom: 2px solid #fff;
}

.main-content-header{
	width:1180px;
	position: absolute;
	/*border: 1px solid red;*/
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1{
	color: #fff;
	font-size: 240%;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.btn{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter; 
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2;
}

.btn-full{
	background-color: transparent;
	color: #fff;
	margin-right: 15px;
	border: 1px solid #fff;
}

.btn-full:hover{
	background-color: #bf55ec;
}

/*#bf55ec for purple color*/

.colorchange{
	animation: colorchangehastasheel 5s infinite;
}

@keyframes colorchangehastasheel{
	0%{color: #fff;}
	25%{color: #bf55ec;}
	50%{color: #fff;}
	75%{color: #bf55ec;}
	100%{color: #fff;}
}	

.mobile-icon{display: none;}

/*Responsive Queries*/

@media screen and (max-width: 1180px){
	.main-content-header{
		width: 100%;
		padding: 0 2%;
	}
}

@media screen and (max-width: 998px){
	h1{font-size: 200%;}
}

@media screen and (min-width: 800){
	.mobile-icon {display: none;}
	.main-nav{display=block;}
}

@media screen and (max-width: 768px){
	h1{font-size: 180%;}

	.main-nav{display: none;}

	.mobile-icon{ display: inline-block; 
		color: #fff;
		float: right;
		margin-top: 30px;
		margin-right: 20px;

	}

	.main-nav{float: left}

	.main-nav li{
		display: block;
		margin-top: 10px;
	}
}

@media screen and (max-width: 480px){
	.btn-full{
		margin-bottom: 20px;
	}

	h1{font-size: 160%;}
}


