<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <form method="post" action="/addnote">
    	<div class="box">
        <textarea type="text" name="title" id="title"></textarea><br>
    	<textarea type="text" name="note" id="note"></textarea><br>
    		<button id='submit' type="submit"> Button </button>
    	</div>
    </form>
  </body>
</html>