<!DOCTYPE html>
<html>
  <head>
    <title> First Profile</title>
     </head>
  <body>
        <form method= "POST" action="/signup">
    Username: <input type = "text" name="name" id = 'name'><br>
    Password: <input type = "Password" name="password" id = 'Password'><br>
    Re-password: <input type = "password" name="Repassword" id = 'Repassword'><br>
    <button id = "Submit">Login button </button><br>
</form>
  </body>
</html>